@use 'variables';

.shows{
    padding: 2vw 5.6vw;
    min-height: 50vw;

    &__list{
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        margin-top: 44px;

        &--is-active{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;
            margin-top: 44px;
        }

        &__item{


            img{
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    &__tabs{
        display: flex;
        justify-content: center;

        &__button{
            color: variables.$corTextoSecundario;
            font-size: 20px;
            border: none;
            border-bottom: 5px solid transparent;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            cursor: pointer;
            margin: 0 1vw;

            &--is-active{
                border-bottom: 5px solid variables.$corTextoSecundario;
            }
        }
    }
}
